RewriteEngine On

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Set default charset
AddDefaultCharset UTF-8

# Prevent directory browsing
Options -Indexes

# Handle errors
ErrorDocument 404 /Lab%20ivss/public/index.php

#Fix untuk subfolder
RewriteBase /Lab%20ivss/public/
